@import "../../css/variables.scss";
@import "../../css/mixins.scss";

.total{
	/*background: pink;*/
	padding-bottom: 20px;
	.heard{
		line-height: 50px;
		font-size: 14px;
		a{
			color: $gray-base;
		}
	}
	.navbar{
		width: 250px;
		border: 1px solid $gray-light;
		box-sizing: border-box;
		text-align: center;
		h3{
			width: 250px;
			position: relative;
			left: -1px;
			top: -1px;
			background: $brand-yellow;
			line-height: 45px;
			color: $white;
		}
		ul{
			padding: 10px 0;
			li{
				line-height: 50px;
				font-size: 14px;
				text-align: left;
				text-indent: 100px;
				&.moveone{
					a{
						color: $brand-yellow;
					}
				}
				a{
					display: block;
				}
			}
		}
	}

	.contentbar{
		width: 932px;
		padding: 0 20px;
		box-sizing: border-box;
		border: 1px solid $gray-light;
		background: pink;
	}
}